<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Contact Information">
      <!-- TODO: Can these be further templatized  -->
      <ng-template ngbPanelContent>
      <!-- TODO: Contact Info Review -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Address Information">
      <ng-template ngbPanelContent>
        <!-- TODO: Contact Info Review Can we just loop through the ngrxFormState and output in elements here -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Additional Information">
      <ng-template>
      <!-- TODO: Contact Info Review Can we just loop through the ngrxFormState and output in elements here -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
